
  .conditionsContainer{
    display: flex;
    width: 100%;
    background-color: var(--form-light-blue-primary-color);
    border: 1px solid var(--form-border-light-blue-primary-color);
    border-radius: 0.5em;
    overflow: auto;
  }
  
  .dataContainer {
    display: flex;
    width: 100%;
    min-width: 700px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    gap: 1em;
    margin: 1em;
  }
  
  .dataContainer p {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap; /* Coloca o texto apenas numa linha */
  }

  
.addConditionBtnContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 10fr 10fr 10fr 1fr;
  column-gap: 1em;
  align-items: center;
}

.addConditionBtn {
  grid-column: 1;
  color: var(--main-blue-primary-color);
  cursor: pointer;
}

.addConditionBtn:hover {
  color: var(--input-border-bottom-blue-primary-color);
}

.addConditionBtn p {
  font-size: 1.1em;
}

/*dataContainer Scrollbar Css*/
.conditionsContainer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.conditionsContainer::-webkit-scrollbar-track {
  background-color: var(--main-grey-secondary-color);
  border-radius: 50px;
}

.conditionsContainer::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

@media screen and (max-width: 700px) {
  .addConditionBtn p {
    font-size: 1em;
  }
  
}