@tailwind base;
@tailwind components;
@tailwind utilities;

.link{
  @apply p-4 text-lg text-[color:var(--c-grey-900)] font-semibold inline-block transition-all duration-200 hover:text-[color:var(--color-blackLight-main)]
}

.line{
  @apply h-px w-full opacity-50 my-2
}

.title{
  @apply text-center text-3xl font-bold
}

.description{
  @apply text-center text-lg font-medium
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

body{
  background-color: var(--color-white-bg);
  padding: 3rem;
  min-height: 100vh;
  margin-top: 4rem;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 2rem;
  }
}

@media only screen and (max-width: 640px) {
  body {
    padding: 1rem;
  }
}

:root {
  --color-black-main: #212529;
  --color-blackLight-main: #343A40;
  --color-greyDark-main: #495057;
  --color-grey-main: #6C757D;
  --color-greyLight-main: #ADB5BD;
  --color-greyLighter-main: #CED4DA;
  --color-whiteDarker-main: #DEE2E6;
  --color-whiteDark-main: #E9ECEF;
  --color-white-main: #F8F9FA;
  /* --color-white-bg: #FAFCFF; */
  --color-white-bg: #FAFAFA;
  --color-white: #FFF;

  --c-grey-200: #e8e7ec;
  --c-ttc-primary-100: #f2f2ff;
  --c-grey-900: #29292b;
  --c-ttc-primary-main: #0001ff;
  --c-tti-primary-main: #0047ff;
  --color-blue-hover: #d8e3ff;
  --main-bg-color: #FAFCFF;
  --c-ttn-primary-main: #26a0ff;
  --card-background: #edf1f5;
  --green-smile: #1fb912;
  --orange-smile: #e76f17;
  --red-smile: #b9121f;
  --card-text-color: #efdbea;
  --card-text-hover: #d7a6cb;
  --c-ttn-primary-200: #def0ff;
}

